@import "./components.scss";
* {
  font-family: "Poppins", sans-serif;
}
.btn-primary {
  color: $primary !important;
  &:hover {
    color: $primaryDark;
    border-color: $primaryDark;
  }
  &:focus-visible {
    color: $primaryDark;
    border-color: $primaryDark;
  }
  &:first-child {
    &:active {
      color: $primaryDark;
      border-color: $primaryDark;
    }
  }
}

.active,
.active:hover {
  background-color: rgba(197, 197, 197, 0.911);
  color: black;
  font-weight: bold;
}
