@import "./components.scss";
* {
  font-family: "Poppins", sans-serif;
}
.btn-primary {
  color: $primary !important;
  &:hover {
    color: $primaryDark;
    border-color: $primaryDark;
  }
  &:focus-visible {
    color: $primaryDark;
    border-color: $primaryDark;
  }
  &:first-child {
    &:active {
      color: $primaryDark;
      border-color: $primaryDark;
    }
  }
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
